html, body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h3 {
    text-align:center;
}
img {
    max-height:100%;
}
.buttonsrow-chs {
    margin-top: 1rem
}
.card-deck{
    text-align:center;
}
.center-chs {
    text-align: center;
}
.label-chs {
    width: 40%;
    text-align: right;
}
.OwnCard-chs {
    width: 21rem;
    height: 15rem;
    border: solid 0.6rem;
    border-radius: 10px;
    margin: 1rem auto 1rem auto;
}
.row {
    margin-top: 1rem;
}