html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h3, h4 {
    text-align: center;
    font-weight: bold;
}
img {
    display: inline;
    max-width: 100%;
    height: 57%;
}
input {
    box-shadow: none !important;
    outline: none !important;
}
p {
    font-size: 1.5rem;
    font-weight: bold;
}
select {
    width: 80%;
    height: 2rem;
    margin-top: 1.5rem;
}
table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.tbl100 {
    width:100%
}
#bottom {
    /*position: absolute;*/
    bottom: 1rem;
    width: 97%;
}
.addCard {
    text-align: center;
    width: 26rem;
    height: 16em;
    border: solid 0.6rem;
    border-radius: 1rem;
    margin: 10rem auto 0 auto;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    background-color:white;
}
.addSeriesCard {
    width: 35rem;
    /*height: 21rem;*/
    border: solid 0.6rem;
    border-radius: 10px;
    margin: 1rem auto 1rem auto;
    padding-top: 0.5rem;
}
.arrowPrevious {
    text-align: right;
}
.biggerText {
    font-size: 1.25rem;
}
.btnRow {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align:center;
}
.cardBig {
    text-align: center;
    width: 35rem;
    height: 55rem;
    border: solid 1.2rem;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
}
.Card {
    text-align: center;
    width: 15rem;
    height: 26rem;
    border: solid 0.6rem;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
}
.CardEdit {
    text-align: center;
    width: 35rem;
/*    height: 21em;*/
    border: solid 0.6rem;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    background-color: white;
}
.card-deck {
    justify-content: center;
}
.cardTabel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Center{
    margin-left:auto;
    margin-right:auto;
}
.closeBtn {
    float: right;
    margin-right: 5rem;
    margin-top: 1rem;
}
.deleteBtn {
    color: red;
    font-size: 1rem;
}
.display {
    background-color: white;
    border: none;
    box-shadow: none !important;
    outline: none !important;
}
.editBtn {
    float: right;
    margin-right: 1rem;
}
.imgBig {
    display:block;
    max-width: 100%;
    height: 34rem;
    margin-left: auto;
    margin-right: auto;
}
.imgSmall {
    display: block;
    max-width: 100%;
    height: 27rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.indexImg{
    height:100%;
}
.infoBtn {
    float: right;
}
.infoRow {
    width: 12rem;
    text-align: right;
}
.infoBlock {
    border: solid 0.6rem;
    width: 98%;
    margin: -2rem auto 1rem auto;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.label {
    text-align: right;
    width: 50%;
    height:3rem;
    display: block;
}
.labelEditSerie{
    text-align:right;
    width:50%;
}
.labelSmall {
    font-size: 1rem;
    text-align: right;
    width: 65%;
}
.loadingLabel {
    text-align: center;
    font-weight: bold;
    color:black;
}
.marginBig {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.row {
    /*margin-top: 1rem;*/
}
.SerieInfobutton {
    float: right;
    margin-right: 2rem;
}
.TableOne {
    font-size: 1.25rem;
    height: 3rem;
}
.topMargin2 {
    margin-top: 2rem;
}
.txtCenter {
    text-align: center;
}
.txtLeft {
    text-align: left;
}
.txtLeftBold {
    text-align: left;
    font-weight: bolder;
}
.txtRight {
    text-align: right;
}

/*css for flipcard*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 37rem;
    height: 58rem;
    margin-left: auto;
    margin-right: auto;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /*-webkit-backface-visibility: hidden;*/ /* Safari */
    backface-visibility: hidden;
}
/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}
.dropbtn {
    background-color: lightgrey;
    /*    color: black;
    padding: 16px;
    font-size: 16px;*/
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
/*    width: 120px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
.dropRight {
    right: 0px;
}
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            /*background-color: #ddd;*/
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
