@page "/addnew/figures/{serie}"

@using MiniFigures.Data
@using MiniFigures.Models

@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

@if (ListOfMF == null)
{
    <Loading />
}
else
{
    <div class="marginBig, txtRight" style="float:right">
        <input class="btn btn-outline-dark" type="submit" @onclick="cancel" value="Cancel" />
    </div>
    <h3>Edit Figures Names</h3>
    <div class="card-deck">
        @foreach (var figure in ListOfMF)
        {
            <div class="Card" style="border-color:@Color">
                <div class="txtLeftBold" style="color:@Serie.SeriesColor">@figure.Number</div>
                <label for="Name">Enter name: </label>
                <input tabindex="1" form="Name" class="txtCenter" @onchange="@EditNewFigureName" />
                <img src="/images/@serie/@figure.Image" alt="Picture of @figure.Name" style="margin-top:2rem" />
            </div>
        }
    </div>
}

@*Redo to check name instead*@

@*<div style="display:@ShowWarningForNumber; color:red">
        <h4>Minifigure with Number: @OneMiniFigure.Number <br />already exists!</h4>
    </div>*@
@code {
    [Parameter] public string serie { get; set; }

    private int i = 1;
    private MiniFigure OneMiniFigure = new MiniFigure();
    private Series Serie = new Series();

    private List<Series> SeriesList = new List<Series>();
    private List<MiniFigure> ListOfMF = new List<MiniFigure>();

    private string Color { get; set; } = "lightgrey";
    private string FigureNumber { get; set; }

    //TODO: Not in use right now!
    //protected string ShowWarningForNumber { get; set; } = "none";

    protected override async Task OnInitializedAsync()
    {
        Serie = await SeriesService.GetOneSerie(serie);
        Color = Serie.SeriesColor;
        SeriesList = await SeriesService.GetSeries("A-Z");
        ListOfMF = MiniFigureService.GetMiniFigures(serie);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Serie = await SeriesService.GetOneSerie(serie);
        ListOfMF = MiniFigureService.GetMiniFigures(serie);
        StateHasChanged();
    }

    private async Task EditNewFigureName(ChangeEventArgs args)
    {
        OneMiniFigure = await MiniFigureService.GetOneMiniFigure(serie, i);

        OneMiniFigure.Name = args.Value.ToString();

        await MiniFigureService.EditFigure(OneMiniFigure.ID, OneMiniFigure, serie);
        i++;
    }

    protected void cancel() => NavigationManager.NavigateTo($"/{serie}", true);
}