@page "/filesupload/{serie}"

@using System.IO
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment env
@inject NavigationManager NavigationManager

<h6 style="margin-top:2rem">@Message</h6>

<form>

    @* TODO: Display images, when selected *@
    <div class="btnRow">
        <div>
            <InputFile OnChange="OnInputFileChange" multiple />
            <button class="btn btn-outline-success btn-sm" type="button" @onclick="@OnSubmit">Upload</button>
        </div>
    </div>
</form>
@code {
    [Parameter] public string serie { get; set; }
    [Parameter] public string from { get; set; }

    string Message = "";
    IReadOnlyList<IBrowserFile> selectedFiles;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles(25);
        this.StateHasChanged();
    }

    private async void OnSubmit()
    {
        foreach (var file in selectedFiles)
        {
            var path = $"{env.WebRootPath}\\images\\Series\\{serie}\\{file.Name}";
            if (File.Exists(path))
            {
                //TODO: add modal ask if wanting to overwrite file
                break;
            }
            else
            {
                Stream stream = file.OpenReadStream();
                FileStream fs = File.Create(path);
                await stream.CopyToAsync(fs);
                stream.Close();
                fs.Close();
                Message = $"{selectedFiles.Count} file(s) uploaded on server";
                if (from == null)
                {
                    NavigationManager.NavigateTo($"/addnew/figures/{serie}", true);
                }
            }
        }
        this.StateHasChanged();
    }

    private void cancel() => NavigationManager.NavigateTo("/", true);

    // TODO: Display images, when selected 
}
