@page "/fileupload/{serie}"

@using System.IO
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment env
@inject NavigationManager NavigationManager

<h5>@Message</h5>

<form>

    @* TODO: Display images, when selected *@
    <div class="btnRow">
    <InputFile OnChange="OnInputFileChange" multiple />

        <input class="btn btn-outline-success" type="button" @onclick="@OnSubmit" value="Upload" />
    </div>
</form>
@code {
    [Parameter] public string serie { get; set; }

    string Message = "";
    IReadOnlyList<IBrowserFile> selectedFiles;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {

        selectedFiles = e.GetMultipleFiles(25);
        this.StateHasChanged();
    }

    private void OnSubmit()
    {
        if (!Directory.Exists($"{env.WebRootPath}\\images\\Series\\{serie}"))
        {
            Directory.CreateDirectory($"{env.WebRootPath}\\images\\Series\\{serie}");
        }
        Upload();
    }

    private async void Upload()
    {
        foreach (var file in selectedFiles)
        {
            var path = $"{env.WebRootPath}\\images\\Series\\{serie}\\{file.Name}";
            if (File.Exists(path))
            {
                Message = $"File already exist";
            }
            else
            {
                Stream stream = file.OpenReadStream();
                FileStream fs = File.Create(path);
                await stream.CopyToAsync(fs);
                stream.Close();
                fs.Close();
                Message = $"{selectedFiles.Count} file(s) uploaded on server";
                NavigationManager.NavigateTo($"/addnew/figures/{serie}", true);
            }
        }
        this.StateHasChanged();
    }

    private void cancel() => NavigationManager.NavigateTo("/", true);

}
