<h3>Image Information</h3>
<br />
<div style="background-color:white; border: solid 1px black; border-radius:1rem; padding:1rem 0rem 0rem 1rem ">
    <p>Serie bags must be namned Bag.jpg</p>
    <p>Figures must be namned {SerieNumber}-{FigureNumber}.jpg Ex. 8683-08.jpg</p>
</div>
@code {

}
