@using MiniFigures.Models
@using MiniFigures.Data
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="css/card-horizontal-small.css" />

<div class="card-deck">
    @foreach (var item in seriesList)
    {
        <div class="OwnCard-chs" style="border-color: @item.SeriesColor; background-color:@item.SeriesColor">
            <img src="images/@item.Name/@item.SeriePicture" @onclick="() => goTo(item.Name)" alt="@item.Name" />
        </div>
    }
</div>

@code {
    List<Series> seriesList = new List<Series>();

    protected override async Task OnInitializedAsync()
    {
        seriesList = await SeriesService.GetSeries();
    }
    void goTo(string serie)
    {
        NavigationManager.NavigateTo($"/{serie}");
    }
}