@using MiniFigures.Models
@using MiniFigures.Data
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

<br />
<div class="card-deck" style="justify-content:center">
    @foreach (var item in seriesList)
    {

        <div class="card-body" style="background-color: @item.SeriesColor; max-width: 21rem; height: 15rem; padding:15px; margin:1.5rem; border-radius:15px">
            <img src="images/@item.Name/@item.SeriePicture" @onclick="() => goTo(item.Name)" style="max-height:100%" alt="@item.Name" />
        </div>
    }
</div>

@code {
    List<Series> seriesList = new List<Series>();

    protected override async Task OnInitializedAsync()
    {
        seriesList = await SeriesService.GetSeries();
    }
    void goTo(string serie)
    {
        NavigationManager.NavigateTo($"/{serie}");
    }
}