@page "/"

@using MiniFigures.Models
@using MiniFigures.Data
@using MiniFigures.Shared

@inject ISeriesService SeriesService
@inject IMiniFigureService MiniFigureService
@inject NavigationManager NavigationManager

<div class="row" style="border-radius:15px; margin-left:auto; margin-right:auto ">
    <div style="text-align:center;margin-left:auto; margin-right:auto">
        <h5>There is @NumberOfSeries Series to Collect | You have @CompleteSeries complete series</h5>
        <h5>With a total of @TotalFigures figures | You have @TotalFiguresOwned figures </h5>
    </div>
</div>

<div class="card-deck">
    @foreach (var item in ListOfSeries)
    {
    <div class="figCard" style="border-color: @item.SeriesColor; background-color:@item.SeriesColor">
        <img class="indexImg" src="images/@item.Name/@item.SeriePicture" @onclick="() => goTo(item.Name)" alt="@item.Name" />
        <h6 style="margin-top:0.7rem">
            @CountOwned(item.Name) of @item.NumberOfFigures figures 
            @if (CountOwned(item.Name) == item.NumberOfFigures)
            {
                <i class="fas fa-star" style="color:@item.SeriesColor" />
            }
        </h6>
    </div>
    }
</div>
@code {
    List<Series> ListOfSeries = new List<Series>();
    List<MiniFigure> series = new List<MiniFigure>();
    public int CompleteSeries { get; set; }
    public int NumberOfSeries { get; set; }
    public int OrderBy { get; set; }
    public int TotalFigures { get; set; }
    public int TotalFiguresOwned { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetList();
        GetInfo();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        OrderBy = NavMenu.orderBy;
        GetList();
        StateHasChanged();
    }
    public async Task<List<Series>> GetList()
    {
        ListOfSeries = await SeriesService.GetSeries(NavMenu.orderBy);
        return ListOfSeries;
    }
    private void goTo(string serie)
    {
        NavigationManager.NavigateTo($"/{serie}");
    }
    private void GetInfo()
    {
        NumberOfSeries = ListOfSeries.Count();
        foreach (var serie in ListOfSeries)
        {
            TotalFigures += serie.NumberOfFigures;
            if (serie.isComplete)
            {
                CompleteSeries++;
            }
        }
        GetOwned();
    }
    private void GetOwned()
    {
        TotalFiguresOwned = 0;
        foreach (var serie in ListOfSeries)
        {
            series = MiniFigureService.GetMiniFigures(serie.Name).ToList();
            foreach (var figure in series)
            {
                if (figure.CountSealed > 0 || figure.CountOpened > 0)
                {
                    TotalFiguresOwned++;
                }
            }
        }
    }
    private int CountOwned(string name)
    {
        var i = 0;
        series = MiniFigureService.GetMiniFigures(name).ToList();
        foreach (var figure in series)
        {
            if (figure.CountSealed > 0 || figure.CountOpened > 0)
            {
                i++;
            }
        }
        return i;
    }
}