@using MiniFigures.Models

@inject NavigationManager NavigationManager

<div >
    @if (i != 0)
    {
    <a href="#" style="float:left; text-decoration:none; color:@SerieColor" @onclick="() => ToPreviousSerie(i)"><i class="fas fa-chevron-left"/> Previous serie</a>
    }
    @if (i != ListOfSeries.Count - 1)
    {
    <a href="#" style="float:right; text-decoration:none; color:@SerieColor" @onclick="() => ToNextSerie(i)">Next serie <i class="fas fa-chevron-right"/></a>
    }
</div>
@code {
    [Parameter] public string SerieToShow { get; set; }
    [Parameter] public string SerieColor { get; set; }

    private int i { get; set; }

    private List<Series> ListOfSeries = NavMenu.ListOfSeries;

    protected override void OnParametersSet() => i = ListOfSeries.FindIndex(i => i.Name.Equals(SerieToShow));

    private void ToNextSerie(int i)
    {
        if (i != ListOfSeries.Count - 1)
        {
            var NextSerie = ListOfSeries[i + 1].Name;
            NavigationManager.NavigateTo($"/{NextSerie}");
        }
    }

    private void ToPreviousSerie(int i)
    {
        if (i != 0)
        {
            var PreviousSerie = ListOfSeries[i - 1].Name;
            NavigationManager.NavigateTo($"/{PreviousSerie}");
        }
    }
}
