@using MiniFigures.Data
@using MiniFigures.Models
@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService

@inject NavigationManager NavigationManager


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MiniFigures</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @foreach (var serie in series)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@serie.Name">
                    <span class="fas fa-list mr-2" aria-hidden="true"></span>@serie.Name
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/addnew/serie">
                <span class="fas fa-plus-circle mr-2" aria-hidden="true"></span>Add new serie
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;
    private string serieToShow;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    public static List<Series> series = new List<Series>();

    protected override async Task OnInitializedAsync()
    {
        await GetList();
    }
    protected async Task<List<Series>> GetList()
    {
        series = await SeriesService.GetSeries();
        return series;
    }
}
